.RangeInput {
  -webkit-appearance: none;
  // margin: 10px 0;
  width: 100%;
  background-color: #000000;
}
.RangeInput:focus {
  outline: none;
}
.RangeInput::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgb(72, 72, 72);
  border-radius: 25px;
  border: 0px solid #000101;
}
.RangeInput::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.6px; //-3.6
}
.RangeInput:focus::-webkit-slider-runnable-track {
  background: rgb(72, 72, 72);
}
.RangeInput::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgb(72, 72, 72);
  border-radius: 25px;
  border: 0px solid #000101;
}
.RangeInput::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #ffffff;
  cursor: pointer;
}
.RangeInput::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
.RangeInput::-ms-fill-lower {
  background: rgb(72, 72, 72);
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
.RangeInput::-ms-fill-upper {
  background: rgb(72, 72, 72);
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
.RangeInput::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #ffffff;
  cursor: pointer;
}
.RangeInput:focus::-ms-fill-lower {
  background: rgb(72, 72, 72);
}
.RangeInput:focus::-ms-fill-upper {
  background: rgb(72, 72, 72);
}
