.Header {
  width: 100%;
  display: block;
  position: fixed;
  height: 80px;
  z-index: 99999;
  //   padding: 0 30px;
  background: linear-gradient(#000000 90%, #2f2f2f);
  //   background: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%);
  // background-color: gray;
  &_container {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    height: 100%;
  }
}
.logoContainer {
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 25px;
  font-weight: 500;
  //   img {
  //     // height: 70%;
  //   }
  p {
    // height: 70%;
    font-family: Kanit, sans-serif;

    margin: auto 0;
  }
}
